services:
  cursos-api:
    image: cursosdev-api
    build:
      context: .
      dockerfile: CursosDev.Api/Dockerfile
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=CursosDevDb;Username=postgres;Password=password123
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:17-alpine
    container_name: cursosdev_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: CursosDevDb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: